body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff416c, #ff4b2b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
}

#display {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    font-size: 24px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #000;
    color: #fff;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    background-color: #666;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #fff;
}

.clear1{
    background-color: #f57c00;
}

.clear1:hover{
    background-color: #ff416c;
}

button:hover {
    background-color: #555;
}

.delete{
    background-color: #ff9800;
}
.operator {
    background-color: #ff9800;
    font-size: 30px;
}

.operator:hover {
    background-color: #f57c00;
}

.equal {
    background-color: #2196f3;
}

.equal:hover {
    background-color: #1976d2;
}



